In [25]:
import pandas as pd

uniData2021 = pd.read_csv('Uni_data_2021.csv')
uniData2020 = pd.read_csv('Uni_data_2020.csv')
uniData2019 = pd.read_csv('Uni_data_2019.csv')
housingData = pd.read_csv('county_market_tracker.tsv000', sep='\t')
housingData.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2017-04-01,2017-04-30,30,county,5,170,f,"Morgan County, AL",NaN,Alabama,...,-0.069595,NaN,NaN,NaN,0.020833,0.020833,0.001225,"Decatur, AL",19460.0,2022-01-09 14:29:56
1,2014-12-01,2014-12-31,30,county,5,1457,f,"Hennepin County, MN",NaN,Minnesota,...,-0.098136,0.097744,-0.121909,-0.197220,0.172414,0.034483,-0.033469,"Minneapolis, MN",33460.0,2022-01-09 14:29:56
2,2018-02-01,2018-02-28,30,county,5,2319,f,"Tulsa County, OK",NaN,Oklahoma,...,-0.024840,0.206004,-0.026139,0.009313,0.479924,0.068277,-0.042568,"Tulsa, OK",46140.0,2022-01-09 14:29:56
3,2017-08-01,2017-08-31,30,county,5,1448,f,"Crow Wing County, MN",NaN,Minnesota,...,NaN,0.200000,-0.050000,NaN,NaN,NaN,NaN,"Brainerd, MN",14660.0,2022-01-09 14:29:56
4,2019-05-01,2019-05-31,30,county,5,1586,f,"Tate County, MS",NaN,Mississippi,...,0.107895,NaN,NaN,NaN,0.000000,-0.111111,-0.100000,"Memphis, TN",32820.0,2022-01-09 14:29:56

In [26]:
# Extract the county name from the housing data
housingData['county'] = housingData['region'].str.split(',').str[0]

In [27]:
# Remove the word county from the county name if it exists
housingData['county'] = housingData['county'].str.replace(' County', '')

In [28]:
# Remove all rows which period_begin and period_end is not in 2021
housingData2021 = housingData[housingData['period_begin'].str.contains('2021')]
housingData2021 = housingData[housingData['period_end'].str.contains('2021')]

# Remove all rows which period_begin and period_end is not in 2020
housingData2020 = housingData[housingData['period_begin'].str.contains('2020')]
housingData2020 = housingData[housingData['period_end'].str.contains('2020')]

# Remove all rows which period_begin and period_end is not in 2019
housingData2019 = housingData[housingData['period_begin'].str.contains('2019')]
housingData2019 = housingData[housingData['period_end'].str.contains('2019')]

In [29]:
len(housingData['county'].unique())

1238

In [30]:
# Joining the two datasets
combinedData2021 = uniData2021.merge(housingData2021, on='county', how='inner')
combinedData2020 = uniData2020.merge(housingData2020, on='county', how='inner')
combinedData2019 = uniData2019.merge(housingData2019, on='county', how='inner')

In [31]:
# Save the combined data to a csv file
combinedData2021.to_csv('housingAndUniData2021.csv', index=False)
combinedData2020.to_csv('housingAndUniData2020.csv', index=False)
combinedData2019.to_csv('housingAndUniData2019.csv', index=False)