In [1]:
import pandas as pd

uniData = pd.read_csv('Joined_data_2021.csv')
housingData = pd.read_csv('county_market_tracker.tsv000', sep='\t')
housingData.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2017-04-01,2017-04-30,30,county,5,170,f,"Morgan County, AL",NaN,Alabama,...,-0.069595,NaN,NaN,NaN,0.020833,0.020833,0.001225,"Decatur, AL",19460.0,2022-01-09 14:29:56
1,2014-12-01,2014-12-31,30,county,5,1457,f,"Hennepin County, MN",NaN,Minnesota,...,-0.098136,0.097744,-0.121909,-0.197220,0.172414,0.034483,-0.033469,"Minneapolis, MN",33460.0,2022-01-09 14:29:56
2,2018-02-01,2018-02-28,30,county,5,2319,f,"Tulsa County, OK",NaN,Oklahoma,...,-0.024840,0.206004,-0.026139,0.009313,0.479924,0.068277,-0.042568,"Tulsa, OK",46140.0,2022-01-09 14:29:56
3,2017-08-01,2017-08-31,30,county,5,1448,f,"Crow Wing County, MN",NaN,Minnesota,...,NaN,0.200000,-0.050000,NaN,NaN,NaN,NaN,"Brainerd, MN",14660.0,2022-01-09 14:29:56
4,2019-05-01,2019-05-31,30,county,5,1586,f,"Tate County, MS",NaN,Mississippi,...,0.107895,NaN,NaN,NaN,0.000000,-0.111111,-0.100000,"Memphis, TN",32820.0,2022-01-09 14:29:56

In [2]:
# Extract the county name from the housing data
housingData['county'] = housingData['region'].str.split(',').str[0]

In [3]:
# Remove the word county from the county name if it exists
housingData['county'] = housingData['county'].str.replace(' County', '')

In [12]:
# Remove all rows which period_begin and period_end is not in 2021
housingData = housingData[housingData['period_begin'].str.contains('2021')]
housingData = housingData[housingData['period_end'].str.contains('2021')]

In [13]:
len(housingData['county'].unique())

1229

In [15]:
print(housingData['county'])
print(uniData['county'])

11        Hood River
14            Murray
21          Stoddard
34           Kendall
75         Clackamas
             ...
563051       Kendall
563075       Douglas
563084    Montgomery
563099      Columbia
563102     Lancaster
Name: county, Length: 65244, dtype: object
0      Santa Clara
1        Middlesex
2      Los Angeles
3        Middlesex
4        New Haven
          ...
169         Dallas
170        El Paso
171      Albemarle
172           King
173     James City
Name: county, Length: 174, dtype: object

In [16]:
# Joining the two datasets
combinedData = uniData.merge(housingData, on='county', how='inner')

In [17]:
uniData['county'].unique()

array(['Santa Clara', 'Middlesex', 'Los Angeles', 'New Haven', 'Mercer',
       'Baltimore', 'Philadelphia', 'Tompkins', 'Durham', 'Washtenaw',
       'Cook', 'New York', 'Allegheny', 'Champaign', 'Dane', 'St. Louis',
       'Suffolk', 'Orange', 'Providence', 'DeKalb', 'Grafton', 'Ingham',
       'Davidson', 'District of Columbia', 'Cuyahoga', 'Pima', 'Harris',
       'Boulder', 'Monroe', 'Alachua', 'Jefferson', 'St. Joseph',
       'Johnson', 'Miami-Dade', 'Salt Lake', 'Montgomery', 'Erie', 'Leon',
       'Fairfax', 'Broward', 'Forsyth', 'New Castle', 'Lane', 'Onondaga',
       'Whitman', 'Douglas', 'Wayne', 'Fairbanks North Star', 'Worcester',
       'Tolland', 'Denver', 'Clarke', 'Fulton', 'Story', 'Fayette',
       'Phelps', 'Lancaster', 'Benton', 'Richland', 'Nassau', 'Essex',
       'Coconino', 'Rensselaer', 'Hudson', 'Bexar', 'Tuscaloosa',
       'Madison', 'Washington', 'Lee', 'Pickens', 'Latah', 'Riley',
       'Northampton', 'Gallatin', 'Guilford', 'San Diego', 'Lubbock',
       'Lucas', 'Whatcom', 'Milwaukee', 'McLennan', 'Palm Beach',
       'Brevard', 'Lincoln', 'Shelby', 'Oktibbeha', 'Norfolk',
       'Multnomah', 'Clay', 'Jackson', 'Pitt', 'Harrisonburg',
       'New Hanover', 'Oakland', 'Kalamazoo', 'Maricopa', 'Wood',
       'Larimer', 'Portage', 'East Baton Rouge', 'Boone', 'Doña Ana',
       'Wake', 'Franklin', 'Athens', 'Payne', 'Tippecanoe', 'Albany',
       'Brazos', 'Hays', 'Knox', 'Orleans', 'Alameda', 'Yolo', 'Merced',
       'Riverside', 'Santa Barbara', 'Santa Cruz', 'Honolulu',
       "Prince George's", 'Hampshire', 'Hennepin', 'Missoula', 'Clark',
       'Bernalillo', 'Tarrant', 'Travis', 'Dallas', 'El Paso',
       'Albemarle', 'King', 'James City'], dtype=object)

In [18]:
# Save the combined data to a csv file
combinedData.to_csv('housingAndUniData2021.csv', index=False)

In [19]:
len(combinedData['county'])

21802